Hallo hihi ich versuche einfach hier irgendwas zu machen. Schauen wir mal
was wird.
Was wird.
Gut danke fürs lesen tschüssi

Soll ich hier eigentlich einen BEfehl einfügen? Das ergibt doch keinen Sinn
oder? Ich glaube das müsste ich eig im Terminal machen
Wie komme ich jetzt hier wieder raus

